<h1>Agregar un Libro</h1>
<form action="#" method="post">
   <div class="form-group">
       <label for="nombre">Titulo:</label>
       <input type="text" maxlength="100" name="nombre" placeholder="Nombre del Libro">

       <label for="autor">Autor:</label>
       <input maxlength="100" name="autor" placeholder="Autor del Libro">

       <label for="genero">Genero:</label>
       <input maxlength="100" name="genero" placeholder="Genero del Libro">

       <button type="submit">Guardar</button>
   </div>
</form>